*{
  background-color: rgb(17, 17, 17);
}
/* body{
  background-color: rgb(17, 17, 17);
} */
.brd{
  height: 1px;
  background-color: gray;
  margin-bottom: 5px;
}

span{
  color: white !important;
  background-color: blue !important;
}

.container{
  padding-top: 10%;
}

input{
  outline: none ;
  border: 1px solid gold;
  border-radius: 20px;
  background-color: rgb(17, 17, 17);
  color: #fff;

}
input:focus{
  border: 1px solid rgb(192, 192, 192);
  background-color:rgb(17, 17, 17) ;
  color: white;
  border: 1px solid gold;
  outline: none ;

}
img{
  cursor: pointer !important;
}

